ion-content {
    --padding-top: 20%;
    --padding-start: 10%;
    --padding-end: 10%;
    // --background: url('https://images.unsplash.com/photo-1536431311719-398b6704d4cc?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1234&q=80') 0 0/100% 100% no-repeat;
    --background: #303F9F;
}
