ion-slides {
height: 100%;
}
mat-h3, mat-subheading-2, mat-typography h3 {
    letter-spacing: normal !important;
    margin-bottom: 0px !important;
}
mat-body p, mat-body-1 p, mat-typography p {
    margin: 0 0 0px !important;
    padding-left: 10px !important;
}