

<ion-app>
  <ion-split-pane contentId="main-content">
     <ion-menu side="start" content-id="main-content">
      <ion-header>
        <ion-toolbar translucent>
          <ion-title>Menu</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-list>
          <ion-menu-toggle auto-hide="false" >
            <ion-item   [routerLink]="recintos" lines="none"
              detail="false" >
              <ion-icon slot="start" name="arrow-forward-circle-outline" ></ion-icon>
              <ion-label>Recintos</ion-label>
            </ion-item>
          </ion-menu-toggle>
          <ion-menu-toggle auto-hide="false" >
            <ion-item   [routerLink]="mesas" lines="none"
              detail="false" >
              <ion-icon slot="start" name="arrow-forward-circle-outline" ></ion-icon>
              <ion-label>Mesas</ion-label>
            </ion-item>
          </ion-menu-toggle>
          <ion-item   [routerLink]="'recintos'">
            <ion-icon name="mail" slot="start"></ion-icon>
            <ion-label>Recintos</ion-label>
          </ion-item>
          <ion-item  [routerLink]="'mesas'">
            <ion-icon name="mail"  slot="start"></ion-icon>
            <ion-label>Mesas</ion-label>
          </ion-item>
          <ion-item button (click)="logout()">
            <ion-icon  name="warning"  slot="start"></ion-icon>
            <ion-label>Salir</ion-label>
          </ion-item>
        </ion-list>
      </ion-content>
    </ion-menu>

    <div class="ion-page" id="main-content">
      <ion-router-outlet></ion-router-outlet>

    </div>
  </ion-split-pane>
</ion-app>
