<ion-header>
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-back-button [text]="Volver" ></ion-back-button>
    </ion-buttons>
    <ion-toolbar color="tertiary">
      <ion-title>Votacion</ion-title>
    </ion-toolbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- <button mat-raised-button color="primary" (click)="isLinear = !isLinear" id="toggle-linear">
  {{!isLinear ? 'Enable linear mode' : 'Disable linear mode'}}
  </button> -->
  <mat-horizontal-stepper [linear]="isLinear" #stepper>
    <mat-step [stepControl]="ionicForm">
      <form [formGroup]="ionicForm" (ngSubmit)="validar()" novalidate>
        <ng-template matStepLabel>Acta</ng-template>
        <div class="input-group login-form">
          <ion-item  class="item-native">
            <ion-label position="stacked">Codigo Mesa:</ion-label>
            <ion-input  formControlName="codMesa" ></ion-input>
          </ion-item>
          <span class="error ion-padding" *ngIf="isSubmitted && errorControl.codMesa.errors?.required">
            Codigo requerido.
          </span>
          <span class="error ion-padding" *ngIf="isSubmitted && errorControl.codMesa.errors?.minlength">
            Codigo mínimo de 4 caracteres.
          </span>
          <ion-item  class="item-native">
            <ion-label position="stacked">Apertura:</ion-label>
            <ion-datetime display-timezone="utc" formControlName="horaApertura" display-format="HH:mm"></ion-datetime>
          </ion-item>
          <span class="error ion-padding" *ngIf="isSubmitted && errorControl.horaApertura.errors?.required">
            hora apertura es requerido
          </span>
          <ion-item>
            <ion-label position="stacked">Cierre:</ion-label>
            <ion-datetime display-timezone="utc" formControlName="horaCierre" display-format="HH:mm"></ion-datetime>
          </ion-item>
          <span class="error ion-padding" *ngIf="isSubmitted && errorControl.horaCierre.errors?.required">
            Hora Cierre es requerido
          </span>
          <ion-item>
            <ion-label position="stacked">Observaciones:</ion-label>
            <ion-textarea formControlName="observaciones" rows="7" cols="30" placeholder="observaciones..."></ion-textarea>
          </ion-item>
        </div>
            <div>
              <button mat-flat-button type="submit" color="primary" matStepperNext>Continuar</button>
              
            </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="secondFormGroup">
      <form [formGroup]="secondFormGroup" #form="ngForm" (ngSubmit)="validarVotos()">
        <ng-template matStepLabel>Votos</ng-template>
        <ion-grid class="center grid-vote" >
          <ion-text color="danger">
            <h3>{{datarec.institucion}}</h3>
            <h4 color="tertiary">{{datarec.institucion}}</h4>
          </ion-text>
          <div class="grupo" formArrayName="candidatura" >
              
              <div [formGroupName]="0" >
              <ion-row>
                <ion-col size="12">
                  <ion-text>
                    <h1>Presidencial</h1>
                  </ion-text>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col size="12">
                    <ion-row class="item-row right">
                      <ion-col size="6">
                        <ion-text>
                          <h2>CREEMOS</h2>
                        </ion-text>
                      </ion-col>
                      <ion-col size="6">
                        <ion-item  class="input-group control-vote">
                          <ion-input type="number" name="CREEMOS" formControlName="CREEMOS" (ionChange)="counterValidos(0)" placeholder="" ></ion-input>
                        </ion-item>
                      </ion-col>
                      <ion-col size="6">
                        <ion-text>
                          <h2>ADN</h2>
                        </ion-text>
                      </ion-col>
                      <ion-col size="6">
                        <ion-item  class="input-group control-vote">
                          <ion-input type="number" name="ADN"  formControlName="ADN" (ionChange)="counterValidos(0)" placeholder="" ></ion-input>
                        </ion-item>
                      </ion-col>
                      <ion-col size="6">
                        <ion-text>
                          <h2>MASIPSP-IPSP</h2>
                        </ion-text>
                      </ion-col>
                      <ion-col size="6">
                        <ion-item  class="input-group control-vote">
                          <ion-input type="number" name="MASIPSP" formControlName="MASIPSP" (ionChange)="counterValidos(0)"placeholder="" ></ion-input>
                        </ion-item>
                      </ion-col>
                      <ion-col size="6">
                        <ion-text>
                          <h2>FPV</h2>
                        </ion-text>
                      </ion-col>
                      <ion-col size="6">
                        <ion-item  class="input-group control-vote">
                          <ion-input type="number" name="FPV" formControlName="FPV" (ionChange)="counterValidos(0)"placeholder="" ></ion-input>
                        </ion-item>
                      </ion-col>
                      <ion-col size="6">
                        <ion-text>
                          <h2>PANBOL</h2>
                        </ion-text>
                      </ion-col>
                      <ion-col size="6">
                        <ion-item  class="input-group control-vote">
                          <ion-input type="number" name="PANBOL" formControlName="PANBOL" (ionChange)="counterValidos(0)"placeholder="" ></ion-input>
                        </ion-item>
                      </ion-col>
                      <ion-col size="6">
                        <ion-text>
                          <h2>LIBRE21</h2>
                        </ion-text>
                      </ion-col>
                      <ion-col size="6">
                        <ion-item  class="input-group control-vote">
                          <ion-input type="number" name="LIBRE21" formControlName="LIBRE21" (ionChange)="counterValidos(0)"placeholder="" ></ion-input>
                        </ion-item>
                      </ion-col>
                      <ion-col size="6">
                        <ion-text>
                          <h2>CC</h2>
                        </ion-text>
                      </ion-col>
                      <ion-col size="6">
                        <ion-item  class="input-group control-vote">
                          <ion-input type="number" name="CC" formControlName="CC" (ionChange)="counterValidos(0)"placeholder="" ></ion-input>
                        </ion-item>
                      </ion-col>
                    </ion-row>
                </ion-col>
                <ion-col size="12">
                  <ion-row class="item-row">
                    <ion-col class="vote">
                      <ion-item  class="input-group control-vote">
                        <ion-input type="number" name="validos" disabled="true" formControlName="votosValidos" placeholder="" value=""></ion-input>
                      </ion-item>
                      <ion-label position="stacked">Validos</ion-label>
                    </ion-col>
                    <ion-col class="vote">
                      <ion-item  class="input-group control-vote">
                        <ion-input type="number" name="blancos"formControlName="votosBlancos" (ionChange)="counterTotal(0)" placeholder=""></ion-input>
                      </ion-item>
                      <ion-label position="stacked">Blancos</ion-label>
                    </ion-col>
                    <ion-col class="vote">
                      <ion-item  class="input-group control-vote">
                        <ion-input type="number" name="nullos" formControlName="votosNullos" (ionChange)="counterTotal(0)" placeholder=""></ion-input>
                      </ion-item>
                      <ion-label position="stacked">Nulos</ion-label>
                    </ion-col>
                    
                  </ion-row>
                </ion-col>
                <ion-text>
                  <ion-label>Total de votos emitidos para Presidente: <b>{{totalVotos[0]}}</b></ion-label>
                </ion-text>
              </ion-row>
              </div>

              <div *ngIf="(datarec.tipo.length==2) || (datarec.tipo.length==1 && datarec.tipo[0]==='Uninominal') " [formGroupName]="1" >
                <ion-row>
                  <ion-col size="12">
                    <ion-text>
                      <h1>Diputado Uninominal</h1>
                    </ion-text>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col size="12">
                      <ion-row class="item-row right">
                        <ion-col size="6">
                          <ion-text>
                            <h2>CREEMOS</h2>
                          </ion-text>
                        </ion-col>
                        <ion-col size="6">
                          <ion-item  class="input-group control-vote">
                            <ion-input type="number" name="CREEMOS" formControlName="CREEMOS" (ionChange)="counterValidos(1)" placeholder="" ></ion-input>
                          </ion-item>
                        </ion-col>
                        <ion-col size="6">
                          <ion-text>
                            <h2>ADN</h2>
                          </ion-text>
                        </ion-col>
                        <ion-col size="6">
                          <ion-item  class="input-group control-vote">
                            <ion-input type="number" name="ADN"  formControlName="ADN" (ionChange)="counterValidos(1)" placeholder="" ></ion-input>
                          </ion-item>
                        </ion-col>
                        <ion-col size="6">
                          <ion-text>
                            <h2>MASIPSP-IPSP</h2>
                          </ion-text>
                        </ion-col>
                        <ion-col size="6">
                          <ion-item  class="input-group control-vote">
                            <ion-input type="number" name="MASIPSP" formControlName="MASIPSP" (ionChange)="counterValidos(1)"placeholder="" ></ion-input>
                          </ion-item>
                        </ion-col>
                        <ion-col size="6">
                          <ion-text>
                            <h2>FPV</h2>
                          </ion-text>
                        </ion-col>
                        <ion-col size="6">
                          <ion-item  class="input-group control-vote">
                            <ion-input type="number" name="FPV" formControlName="FPV" (ionChange)="counterValidos(1)"placeholder="" ></ion-input>
                          </ion-item>
                        </ion-col>
                        <ion-col size="6">
                          <ion-text>
                            <h2>PANBOL</h2>
                          </ion-text>
                        </ion-col>
                        <ion-col size="6">
                          <ion-item  class="input-group control-vote">
                            <ion-input type="number" name="PANBOL" formControlName="PANBOL" (ionChange)="counterValidos(1)"placeholder="" ></ion-input>
                          </ion-item>
                        </ion-col>
                        <ion-col size="6">
                          <ion-text>
                            <h2>LIBRE21</h2>
                          </ion-text>
                        </ion-col>
                        <ion-col size="6">
                          <ion-item  class="input-group control-vote">
                            <ion-input type="number" name="LIBRE21" formControlName="LIBRE21" (ionChange)="counterValidos(1)"placeholder="" ></ion-input>
                          </ion-item>
                        </ion-col>
                        <ion-col size="6">
                          <ion-text>
                            <h2>CC</h2>
                          </ion-text>
                        </ion-col>
                        <ion-col size="6">
                          <ion-item  class="input-group control-vote">
                            <ion-input type="number" name="CC" formControlName="CC" (ionChange)="counterValidos(1)"placeholder="" ></ion-input>
                          </ion-item>
                        </ion-col>
                      </ion-row>
                  </ion-col>
                  <ion-col size="12">
                    <ion-row class="item-row">
                      <ion-col class="vote">
                        <ion-item  class="input-group control-vote">
                          <ion-input type="number" name="validos" disabled="true" formControlName="votosValidos" placeholder="" value=""></ion-input>
                        </ion-item>
                        <ion-label position="stacked">Validos</ion-label>
                      </ion-col>
                      <ion-col class="vote">
                        <ion-item  class="input-group control-vote">
                          <ion-input type="number" name="blancos"formControlName="votosBlancos" (ionChange)="counterTotal(1)" placeholder=""></ion-input>
                        </ion-item>
                        <ion-label position="stacked">Blancos</ion-label>
                      </ion-col>
                      <ion-col class="vote">
                        <ion-item  class="input-group control-vote">
                          <ion-input type="number" name="nullos" formControlName="votosNullos" (ionChange)="counterTotal(1)" placeholder=""></ion-input>
                        </ion-item>
                        <ion-label position="stacked">Nulos</ion-label>
                      </ion-col>
                      
                    </ion-row>
                  </ion-col>
                  <ion-text>
                    <ion-label><h4>Total de votos emitidos para Uninominal: <b>{{totalVotos[1]}}</b></h4></ion-label>
                  </ion-text>
                </ion-row>
                </div>
              <div *ngIf="(datarec.tipo.length==2) || (datarec.tipo.length==1 && datarec.tipo[0]==='Especial')" [formGroupName]="2" >
                <ion-row>
                  <ion-col size="12">
                    <ion-text>
                      <h1>Diputado Especial</h1>
                    </ion-text>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col size="12">
                      <ion-row class="item-row right">
                        <ion-col size="6">
                          <ion-text>
                            <h2>CREEMOS</h2>
                          </ion-text>
                        </ion-col>
                        <ion-col size="6">
                          <ion-item  class="input-group control-vote">
                            <ion-input type="number" name="CREEMOS" formControlName="CREEMOS" (ionChange)="counterValidos(2)" placeholder="" ></ion-input>
                          </ion-item>
                        </ion-col>
                        <ion-col size="6">
                          <ion-text>
                            <h2>ADN</h2>
                          </ion-text>
                        </ion-col>
                        <ion-col size="6">
                          <ion-item  class="input-group control-vote">
                            <ion-input type="number" name="ADN"  formControlName="ADN" (ionChange)="counterValidos(2)" placeholder="" ></ion-input>
                          </ion-item>
                        </ion-col>
                        <ion-col size="6">
                          <ion-text>
                            <h2>MASIPSP-IPSP</h2>
                          </ion-text>
                        </ion-col>
                        <ion-col size="6">
                          <ion-item  class="input-group control-vote">
                            <ion-input type="number" name="MASIPSP" formControlName="MASIPSP" (ionChange)="counterValidos(2)"placeholder="" ></ion-input>
                          </ion-item>
                        </ion-col>
                        <ion-col size="6">
                          <ion-text>
                            <h2>FPV</h2>
                          </ion-text>
                        </ion-col>
                        <ion-col size="6">
                          <ion-item  class="input-group control-vote">
                            <ion-input type="number" name="FPV" formControlName="FPV" (ionChange)="counterValidos(2)"placeholder="" ></ion-input>
                          </ion-item>
                        </ion-col>
                        <ion-col size="6">
                          <ion-text>
                            <h2>PANBOL</h2>
                          </ion-text>
                        </ion-col>
                        <ion-col size="6">
                          <ion-item  class="input-group control-vote">
                            <ion-input type="number" name="PANBOL" formControlName="PANBOL" (ionChange)="counterValidos(2)"placeholder="" ></ion-input>
                          </ion-item>
                        </ion-col>
                        <ion-col size="6">
                          <ion-text>
                            <h2>LIBRE21</h2>
                          </ion-text>
                        </ion-col>
                        <ion-col size="6">
                          <ion-item  class="input-group control-vote">
                            <ion-input type="number" name="LIBRE21" formControlName="LIBRE21" (ionChange)="counterValidos(2)"placeholder="" ></ion-input>
                          </ion-item>
                        </ion-col>
                        <ion-col size="6">
                          <ion-text>
                            <h2>CC</h2>
                          </ion-text>
                        </ion-col>
                        <ion-col size="6">
                          <ion-item  class="input-group control-vote">
                            <ion-input type="number" name="CC" formControlName="CC" (ionChange)="counterValidos(2)"placeholder="" ></ion-input>
                          </ion-item>
                        </ion-col>
                      </ion-row>
                  </ion-col>
                  <ion-col size="12">
                    <ion-row class="item-row">
                      <ion-col class="vote">
                        <ion-item  class="input-group control-vote">
                          <ion-input type="number" name="validos" disabled="true" formControlName="votosValidos" placeholder="" value=""></ion-input>
                        </ion-item>
                        <ion-label position="stacked">Validos</ion-label>
                      </ion-col>
                      <ion-col class="vote">
                        <ion-item  class="input-group control-vote">
                          <ion-input type="number" name="blancos"formControlName="votosBlancos" (ionChange)="counterTotal(2)" placeholder=""></ion-input>
                        </ion-item>
                        <ion-label position="stacked">Blancos</ion-label>
                      </ion-col>
                      <ion-col class="vote">
                        <ion-item  class="input-group control-vote">
                          <ion-input type="number" name="nullos" formControlName="votosNullos" (ionChange)="counterTotal(2)" placeholder=""></ion-input>
                        </ion-item>
                        <ion-label position="stacked">Nulos</ion-label>
                      </ion-col>
                      
                    </ion-row>
                  </ion-col>
                  <ion-text>
                    <ion-label><h4>Total de votos emitidos para Especial: <b>{{totalVotos[2]}}</b></h4></ion-label>
                  </ion-text>
                </ion-row>
                </div>
            
          </div>
        </ion-grid>
        
        <div>
          <button mat-button matStepperPrevious color="primary">Atras</button>
          <!-- <button mat-button (click)="p(form)">prueba</button> -->
          <button mat-flat-button type="submit" matStepperNext color="primary">Subir Votacion</button>
        </div>
        <pre>
          {{secondFormGroup.value | json}}
        </pre>
      </form>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Foto</ng-template>
      <ion-button expand="full">
        <ion-icon lazy="true" slot="start" name="image"></ion-icon>
        <ion-label slot="end">Upload Image</ion-label>
        <input type="file" (change)="loadImageFromDevice($event)" id="file-input"
          accept="image/png, image/jpeg">
      </ion-button>
      <div>
        <button mat-raised-button color="primary"  matStepperPrevious>atras</button>
        <button mat-flat-button color="primary"  (click)="upload()">Finalizar</button>
      </div>
    </mat-step>
  </mat-horizontal-stepper>
      
</ion-content>
